// Themes colors

$base-color: #391e46;
$secondary-color: #e7e6ef;


// Font weights

$font-h1: 8vw;
$font-h2: 7vw;
$font-p: 1.2vw;



// Breakpoints Bootstrap

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);
