@import "header";
@import "mixins";
@import "variables";

@font-face {
  font-family: "HKGrotesk-Regular";
  src: url(../fonts/hk-grotesk/TTF/HKGrotesk-Regular.ttf);
}

/* RESET CSS AND GENERAL FONT SELECTION*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "HKGrotesk-Regular";
}

/*CSS CUSTOM PROPERTIES FOR ANIMATE*/
:root {
  --animate-duration: 3s;
  --animate-delay: 0.9s;
}

$breakpoints: (
  md: 768px,
  lg: 1024px,
  xl: 1200px,
);

/* HERO CSS INDEX PAGE*/
.hero {
  background: url("../media/hero/hero-home.jpg");
  justify-content: center;

  @include first-section;

  &__info {
    padding: 0.3em;
    position: absolute;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: white;

    h1 {
      font-size: $font-h1;
      padding-bottom: 30px;
      color: white;
      @include mobile-first(lg) {
        font-size: 7vh;
      }
    }

    p {
      font-size: 1rem;
      color: white;
      @include mobile-first(lg) {
        font-size: $font-p;
      }
    }
  }

  /* QUIENES SOMOS CSS PAGE */

  &--quienesSomos {
    background-image: url("../media/hero/hero-quienessomos.jpg");

    @include first-section;
  }
  &__title {
    color: white;
    text-align: center;
  }

  /* SERVICIOS CSS PAGE*/

  &--servicios {
    background-image: url("../media/hero/hero-servicios.jpg");
    justify-content: flex-start;
    @include first-section;
  }
  /* PORTFOLIO CSS PAGE*/

  &--portfolio {
    background-image: url("../media/hero/hero-portfolio.jpg");
    justify-content: flex-start;
    @include first-section;
  }
  /* CONTACTO CSS PAGE*/

  &--contacto {
    background-image: url("../media/hero/hero-contacto.jpg");
    justify-content: flex-start;
    @include first-section;
  }
}

/* LOGOS CLIENTES CSS INDEX PAGE*/

.logosClientes {
  background-color: $secondary-color;
  @include second-section;
  &__titulo {
    font-size: $font-h2;
    text-align: center;
    padding: 30px;
    @include mobile-first(lg) {
      font-size: 6vh;
      padding: 50px;
    }
  }
  &__principal {
    display: flex;
  }
  &__items {
    padding: 20px;
    margin-bottom: 30px;
    img {
      width: 50px;
      @include mobile-first(md) {
        width: 70px;
      }
      @include mobile-first(lg) {
        width: 100px;
        padding-top: 10px;
      }
    }
  }
}

/* QUIENES SOMOS CSS INDEX PAGE*/

.quienesSomos {
  background-color: #392f5a;
  @include third-section;

  h2 {
    text-align: center;
    font-size: $font-h2;
    color: white;
    padding-top: 50px;
    @include mobile-first(lg) {
      font-size: 6vh;
    }
  }

  p {
    font-size: 1rem;
    color: white;
    padding: 30px;
    text-align: center;
  }

  video {
    padding: 10px;
    width: 80%;
    margin-top: 40px;
    border-radius: 3rem;
  }
  &__img {
    display: flex;
    padding-top: 100px;
    text-align: center;
    flex-direction: column;
    @include mobile-first(md) {
    }
    @include mobile-first(lg) {
      flex-direction: row;
    }
    img {
      width: 200px;
      border-radius: 50%;
      padding: 10px;

      @include mobile-first(lg) {
        width: 300px;
      }
    }
    p {
      font-weight: bold;
    }
  }

  /*QUIENES SOMOS CSS PAGE */
  &--modificado {
    background-color: white;

    h2 {
      color: black;
    }

    p {
      color: black;
      font-size: 1rem;
    }
  }
  &__principal {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

/* SERVICIOS CSS INDEX PAGE*/

.servicios {
  display: flex;
  flex-direction: column-reverse;
  @include mobile-first(lg) {
    flex-direction: row;
  }
  &__left {
    @include mid-section1;
    @include mobile-first(md) {
      height: 100vh;
    }
    @include mobile-first(lg) {
      height: 100vh;
      width: 50%;
    }

    @include mobile-first(xl) {
      height: 100%;
      width: 50%;
    }
    h2 {
      color: black;
      font-size: $font-h2;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 50px;

      @include mobile-first(lg) {
        font-size: 6vh;
        padding: 50px;
      }
    }
    p {
      color: black;
      text-align: center;
      line-height: 30px;
      width: 70%;
      margin: auto;
    }
    ul li {
      text-align: left;
      font-size: 2vh;
      padding: 10px;
    }
  }
  &__right {
    background: url("../media/servicios/servicio2.jpg");
    @include mid-section2;
    @include mobile-first(lg) {
      height: 150vh;
      width: 50%;
    }
    @include mobile-first(xl) {
      height: 100vh;
    }
  }
  &__link {
    text-align: center;

    a {
      padding: 30px;
      color: white;
      background-color: black;
      border-radius: 30px;
      font-weight: bold;
      margin-top: 30px;
      display: inline-block;
      text-decoration: none;
    }
  }
}

.servicios2 {
  display: flex;
  flex-direction: column;
  @include mobile-first(lg) {
    flex-direction: row;
  }
  &__right {
    background-color: $base-color;
    @include mid-section1;
    @include mobile-first(md) {
      height: 130vh;
    }
    @include mobile-first(lg) {
      height: 130vh;
      width: 50%;
    }
    @include mobile-first(xl) {
      height: 110vh;
      width: 50%;
    }

    h2 {
      color: white;
      font-size: $font-h2;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 50px;

      @include mobile-first(lg) {
        font-size: 6vh;
        padding: 50px;
      }
    }

    p {
      color: white;
      text-align: center;
      line-height: 30px;
      width: 70%;
      margin: auto;
    }
    /* SERVICIOS PAGE */

    &--modificado {
      padding: 80px;
      height: 1000px;
      width: 100%;

      h1 {
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
    &--resizesomos {
      height: 700px;
      @include mobile-first(lg) {
        height: 120vh;
      }
      @include mobile-first(xl) {
        height: 100vh;
      }
    }
  }
  &__left {
    background: url("../media/servicios/servicio1.jpg");
    @include mid-section2;

    @include mobile-first(lg) {
      height: 130vh;
      width: 50%;
    }

    @include mobile-first(xl) {
      height: 100vh;
      width: 50%;
    }

    &--modificado {
      background: url("../media/quienessomos/who5.jpg");
      background-size: cover;
      background-position: center;
      height: 900px;
      width: 100%;

      @include mobile-first(lg) {
        height: 120vh;
      }

      @include mobile-first(xl) {
        height: 100vh;
      }
    }

    @include mobile-first(xl) {
      height: 110vh;
    }
  }
  &__link {
    text-align: center;
    padding: 50px;

    a {
      padding: 30px;
      color: white;
      background-color: black;
      border-radius: 30px;
      font-weight: bold;
      margin-top: 30px;
      display: inline-block;
      text-decoration: none;
    }
  }
}

/* PORTFOLIO CSS INDEX PAGE*/

.portfoliosection {
  padding: 50px;

  &__titulo {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: $font-h2;

    &--premises {
      color: white;
    }

    @include mobile-first(lg) {
      font-size: 6vh;
    }
  }

  &__premises {
    background-color: $base-color;
  }
  &__cloud {
    background-color: $secondary-color;
  }
}

.card-group {
  @include mobile-first(lg) {
    padding: 30px 100px 30px 100px;
  }
}

.cards--portfolio {
  width: 18rem;
}

.portfolio {
  background-color: $secondary-color;
  height: auto;
  @include forth-section;
  padding-top: 50px;
  padding-bottom: 10px;

  @include mobile-first(lg) {
    height: 100%;
    padding: 100px;
  }

  h2 {
    line-height: 1.5;
    font-size: $font-h2;
    margin-bottom: 70px;
    @include mobile-first(lg) {
      font-size: 6vh;
    }
  }
}
.carousel-inner {
  width: 100%;
}

/* CONTACTO CSS INDEX PAGE*/

.contacto {
  background-color: $base-color;
  justify-content: space-evenly;
  align-items: center;

  @include contacto1;
  @include mobile-first(lg) {
    flex-direction: row;
  }
  &__left {
    h3 {
      color: white;
      margin-top: 50px;
      margin-bottom: 30px;
      padding: 10px;
    }

    a {
      color: white;
      padding: 10px;
      display: flex;
      text-decoration: none;
      justify-content: center;
    }
  }
  &__medium {
    h3 {
      color: white;
      margin-top: 50px;
      margin-bottom: 30px;
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    p {
      color: white;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }
  &__right {
    img {
      width: 200px;
      padding: 20px;
    }
  }
}

/* FOOTER CSS INDEX PAGE*/

footer {
  background-color: $secondary-color;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 5px;

  p {
    font-weight: bold;
  }
}

.socialmedia {
  display: flex;
  align-content: center;
  justify-content: center;

  & img {
    width: 30px;
  }
}

/*CSS CONTACT FORM */

.contact__form {
  height: 100%;
  width: 100vw;
  padding: 30px;
}

.bg {
  background-image: url(../media/contacto/contact_us.png);
  background-position: 25% 75%;
}
